### Maven ###
target/

### IDEs ###
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
logs/
*.log

### Environment ###
.env
.env.*

### Temp ###
bin/
out/
*.tmp
*.swp
*.bak
